
<p class="error hidden">
   There was an error: <span class="error"></span>
</p>

<%= form_for [@project, @donation] do |f|%>
	<%= f.label :amount %>
	<%= f.text_field :amount %>
	<%= f.submit 'Make Donation' %>
<%  end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script type="text/javascript">
	$( document ).ready(function(){

		var $form = $('#new_donation');
		var amount;

		var handler = StripeCheckout.configure({
	    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
	    token: function(token){
	    	// Post the token, and the amount to the create method
	    	$.ajax({
	    		type: "POST",
	    		beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	    		url: $form.attr("action"), 
	    		data: { donation: {
	    			amount: amount,  
	    			token: token }
	    		},
				success: function(data) {
					console.log("success")
  				 },
   				error:function(status, error) {
					console.log("error")
					// console.log(params)
   				},		
	    	})
	    }
		});

		$form.on('submit', function(e) {
			e.preventDefault();
			console.log("shit happening")
			amount = $('#donation_amount').val();

			handler.open({
				amount: amount * 100
			});
		});
	});

	// function post(path, params, method) {
	//     method = method || "post"; // Set method to post by default if not specified.

	//     // The rest of this code assumes you are not using a library.
	//     // It can be made less wordy if you use one.
	//     var form = document.createElement("form");
	//     form.setAttribute("method", method);
	//     form.setAttribute("action", path);

	//     for(var key in params) {
	//         if(params.hasOwnProperty(key)) {
	//             var hiddenField = document.createElement("input");
	//             hiddenField.setAttribute("type", "hidden");
	//             hiddenField.setAttribute("amount", key);
	//             hiddenField.setAttribute("value", params[key]);

	//             form.appendChild(hiddenField);
	//          }
	//     }

	//     document.body.appendChild(form);
	//     form.submit();
	// }
</script>


