<h1> This page displays all of the projects on the site </h1>

<%= collection_select(:university, :name, @universities, :id, :name, {:prompt => true}, id: "uni-dropdown")%>


<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2> <%= project.title %> </h2>
    <p> Description: <%= project.description %> </p>	
    <p> Target amount: <%= number_to_currency(project.target_amount, unit: :£) %></p>
        <p> Recent donations <% project.donations.each do |donation| %>
    	<%= number_to_currency(donation.amount, unit: :£) %>
    	<% end %></p>
    	<p> Total donations so far <%= number_to_currency(project.total_donations, unit: :£) %></p>
        <p> <%= number_to_percentage(project.donation_percentage, precision: 0) %></p>
    	<p> Number of backers <%= project.donations.count %></p> 
    	<p> Number of UNIQUE backers <%= project.unique_donations %></p> 
        <p> Days left <%= project.days_left %></p>
    	
    <p> <%= project.end_date.strftime("%d/%m/%Y") %></p>
    <p><%= link_to "Donate to project",  new_project_donation_path(project) %> </p>
  <% end %>
<% else %>
  No projects yet
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $("#uni-dropdown").bind('change', function() {
        var url = "/universities/"+ $(this).val()
            window.location.replace(url);
    });
});

</script>