<!DOCTYPE html>
<html>


<head>
  <title>UniversityKickstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "User sign in", new_user_session_path %>
<%= link_to "User sign up", new_user_registration_path %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- OR AS WE USED IN PREVIOUS FILES... eg flash.each do |name, msg | \n 
content_tag :div, msg, class: name \n
end %
 -->


<%= yield %>

</body>
</html>
